# ignore build artifacts and build directories
*.dll
*.exe
*.lib
*.pdb
*.so
/build
/build_windows*
# ignore VS Code settings
.vscode
# ignore Vim ctags file
/tags
# ignore generated headers
/include/pdxka/features.h
/include/pdxka/version.h
/include/pdxka/testing/path.hh
